<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="layout::base_header(${title})">
</head>
<body>
<div class="container">
    <h1>New Item</h1>
    <!--/*@thymesVar id="item" type=""*/-->
    <form th:action="@{/items}" th:method="post" th:object="${item}">
        <div class="form-group">
            <label class="control-label">バーコード<input class="form-control" th:field="*{barcode}" type="text" minlength="10" maxlength="10" /></label>
        </div>
        <div class="form-group">
            <label class="control-label">名前<input class="form-control" th:field="*{name}" name="name" type="text" minlength="2"/></label>
        </div>
        <div class="form-group">
            <label class="control-label">値段<input class="form-control" th:field="*{price}" name="price" type="number" minlength="2"/></label>
        </div>
        <button class="btn btn-outline-primary" type="submit">作成</button>
    </form>
    <div class="pull-right">
        <a class="btn btn-outline-warning" href="/items">一覧画面へ</a>
    </div>
</div>
</body>
</html>